.defaultCard{
    height: 100%;
    border-radius:25px  !important;
}
.gridCard{
   padding-top: 0px !important;
}
.cardHeader{
margin-bottom: 15px;
width:120%;
margin-left:-28px;
background-color:#65cdef;
border-radius:25px;
bottom:0px;
}
.headerTypography{
    color:white;
    margin-left:28px !important;
}